@font-face {
    font-family: 'Albert-Sans';
    src: url('./assets/fonts/AlbertSans-Regular.woff2') format('woff2');
    font-weight: 400;
}

@font-face {
    font-family: 'Albert-Sans';
    src: url('./assets/fonts/AlbertSans-SemiBold.woff2') format('woff2');
    font-weight: 600;
}

@font-face {
    font-family: 'Albert-Sans';
    src: url('./assets/fonts/AlbertSans-Bold.woff2') format('woff2');
    font-weight: 700;
}