@import 'fonts.scss';
@import 'variables.scss';

body {
    min-width: 320px;
    min-height: 100vh;
    margin: 0;
    background: $bg;
    color: $primary;
    font-family: Albert-Sans, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
  
.no-scroll {
    height: 100vh;
    overflow: hidden;
}

h1 {
  font-weight: $font-bold;
  margin-top: 0;
  margin-bottom: $margin-lg;
}

p {
  line-height: $font-size-lg;
}

input, textarea {
  -webkit-appearance: none;
  border-radius: 0;
}

.blog-post {

    h2 {
      font-size: $font-size-xl;
      margin: $margin 0;
    }

    h3 {
      font-size: $font-size-lg;
      margin: $margin 0 $margin-sm;
    }

    li {
      margin: $margin 0;
      color: $quaternary;
      padding-left: $padding-sm;

      &::marker {
        color: $primary;
      }
    }

    pre {
      background: #090c13;
      padding: $padding-lg;
      overflow: auto;
      font-family: monospace;
      font-size: $font-size;
      margin: $margin-lg;

      code {
        .kd, .k {
          color: #f39c12; 
        }

        .o {
          color: #f9690e
        }

        .nx {
          color: $secondary;
        }

        .c1 {
          color: #808080;
        }

        .s1 {
          color: #f2ca27;
        }

        .mi {
          color: #dda0dd;
        }
      }
    }

    img {
      max-width: 100%;
      height: auto;
      margin-bottom: $margin-xs;
    }

    a {
      color: $secondary;
    }

    p {
      color: $quaternary;
      margin: $margin-sm 0;

      img {
        display: block;
        margin: $margin-lg auto;
      }
    }

    .highlight__panel-action {
      display: none;
    }
    
    .js-fullscreen-code-action {
      display: none;
    }
}
