// For Shared Variables accross the site
$base-rem: 16;

@function strip-unit($num) {
    @return calc($num / ($num * 0 + 1));
}

@function rem-calc($value, $base-value: $base-rem) {
    $value: calc(strip-unit($value) / strip-unit($base-value)) * 1rem;
    @if ($value == 0rem) { $value: 0; } // Turn 0rem into 0
    @return $value;
}

// breakpoints
$mobile: 480px;
$tablet-sm: 768px;
$tablet-lg: 1024px;

// font size
$font-size-xs: rem-calc(12);
$font-size-sm: rem-calc(14);
$font-size: rem-calc(16);
$font-size-lg: rem-calc(20);
$font-size-xl: rem-calc(28);
$font-size-header: rem-calc(40); 
$font-size-giant: rem-calc(60);

// font-weight
$font-regular: 400;
$font-medium: 500;
$font-bold: 700;

// margins
$margin-xs: rem-calc(5);
$margin-sm: rem-calc(10);
$margin: rem-calc(20);
$margin-lg: rem-calc(30);
$margin-xl: rem-calc(60);

// padding
$padding-xs: rem-calc(5);
$padding-sm: rem-calc(10);
$padding: rem-calc(20);
$padding-lg: rem-calc(30);
$padding-xl: rem-calc(60);

// constants
$navbar-height: 60px;

// colors
$primary: #e5e7eb; //tailwind gray 200
$secondary: #10b981; //tailwind emerald 500
$tertiary: #4b5563; //tailwind gray 600
$quaternary: #9ca3af; // tailwind gray 400
$black: #000000;
$white: #ffffff;
$error: #ef4444; //tailwind red 500;
$bg: #111827; //tailwind gray 900
$bg-secondary: #1f2937; //tailwind gray 800
$border-color: #374151;
$button-primary-bg: #0ea674;
$button-secondary-bg-hover: #10b98108;

